<!doctype html>
<html>
<head>
    <title>RSVP</title>
</head>
<body>
    <h1>RSVP</h1>
    <form method="post">
        Name: <input type="text" name="name"><br>
        Email: <input type="email" name="email"><br>
        Kommst du?
        <select name="attending">
            <option value="yes">Ja</option>
            <option value="no">Nein</option>
        </select><br>
        Kommentar: <textarea name="comment"></textarea><br>
        <button type="submit">Senden</button>
    </form>
</body>
</html>
